
/*******IMAGE******/
#photo-gallery #photo-gallery-img {
  max-width: 100%;
  height: auto;
}

#photo-gallery #photo-gallery-a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

#photo-gallery #photo-gallery-a:hover {
  color: #3EC1D5;
  text-decoration: none;
}

#photo-gallery #photo-gallery-a:active, #photo-gallery-a:hover {
  outline: 0 none;
}

#photo-gallery #photo-gallery-portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#photo-gallery #photo-gallery-portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 8px 24px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  border-radius: 50px;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
  border: 1px solid #444;
}

#photo-gallery #photo-gallery-portfolio-flters li:hover, #photo-gallery-portfolio-flters li.filter-active {
  border-color: #b10a0a;
  background: #b10a0a;
  color: #fff;
}
#photo-gallery #photo-gallery-portfolio-flters li:last-child {
  margin-right: 0;
}

#photo-gallery #photo-gallery-single-awesome-project {
  overflow: hidden;
  margin-bottom: 30px;
}

#photo-gallery #photo-gallery-awesome-img {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#photo-gallery #photo-gallery-awesome-img > a {
  display: block;
  position: relative;
}

#photo-gallery #photo-gallery-single-awesome-project:hover #photo-gallery-awesome-img > a::after {
  opacity: 1;
}

#photo-gallery #photo-gallery-single-awesome-project:hover #photo-gallery-add-actions {
  opacity: 1;
  bottom: 0;
}

#photo-gallery #photo-gallery-awesome-img > a::after {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.4s;
}

#photo-gallery #photo-gallery-add-actions {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  bottom: 30px;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 10px 15px;
  position: absolute;
  transition: all 0.4s ease 0s;
  width: 100%;
  text-align: center;
}

#photo-gallery #photo-gallery-project-dec {
  display: block;
  height: 100%;
  width: 100%;
}

#photo-gallery #photo-gallery-project-dec a {
  display: block;
  height: 100%;
  width: 100%;
}

#photo-gallery #photo-gallery-project-dec h4:hover {
  color: #fff;
}

#photo-gallery #photo-gallery-project-dec h4 {
  color: #ddd;
  font-size: 24px;
  padding-top: 50%;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
}

#photo-gallery #photo-gallery-project-dec span {
  color: #ddd;
  font-size: 13px;
}


/*------------Happy coding KTA********/